{% extends "Water_App/base.html" %}


{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block content %}
    <div class="container">
            <div class="row">
            <div class="col">
                <a href="/"><h6>Return</h6></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Geodatabases</h2>
                <hr>
            </div>
        </div>
        {% for item in object.geodatabase_set.all %}
            <a href="/geodatabase={{ item.id }}"><h5 id="{{ item.id }}">{{ item.geodatabase_name }}</h5></a>
            <br>
        {% endfor %}
    </div>
{% endblock %}