{% extends "Water_App/base.html" %}


{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block return_link %}
    <li class="nav-item">
        <a class="nav-link" href="/">Return</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="display-4">{{ object.folder_name }} - Geodatabase</h2>
                <hr>
            </div>
        </div>
        {% for item in object.geodatabase_set.all %}
            <a href="/geodatabase={{ item.id }}"><h5 id="{{ item.id }}">{{ item.geodatabase_name }}</h5></a>
            <br>
        {% endfor %}
    </div>
{% endblock %}