{% extends "Water_App/base.html" %}
{% load static %}


{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block return_link %}
    <li class="nav-item">
        <a class="nav-link" href="folder={{ object.folder.id }}">Return</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
{#        <div class="row">#}
{#            <div class="col">#}
{#                <a href="folder={{ object.folder.id }}"><h6>Return</h6></a>#}
{#            </div>#}
{#        </div>#}
{#        <br>#}
        <div class="row">
            <div class="col">
                <h2 class="display-4">{{ object.folder.folder_name }} - {{ object.city.city_name }} - Data</h2>
                <hr>
            </div>
        </div>

        <div class="mxd_block">
            <div class="row">
                <div class="col">
                    <code id="mxd_code">mxd = arcpy.mapping.MapDocument("CURRENT")</code>
                    <textarea id="copy_ta" hidden="hidden">mxd = arcpy.mapping.MapDocument("CURRENT")</textarea>
                    <input type="button" class="btn btn-sm btn-outline-success" value="Copy MXD Code"  onclick="copy_mxd(this)">
                </div>
            </div>
        </div>
        <br>

        {% include 'Water_QC/features_changed.html' with change_type="Added" data=Added updated=False %}
        {% include 'Water_QC/features_changed.html' with change_type="Deleted" data=Deleted updated=False %}
        {% include 'Water_QC/features_changed.html' with change_type="Updated" data=Updated updated=True %}

    </div>

    <script src={% static "Water_QC/review_data.js" %}></script>

{% endblock %}